@import "../commons/media-breakpoints.scss";
@import "../commons/variables.scss";

@include mobile {
    .container-header {
        padding-top: 25px;

        .switch-theme {
            width: 22px;
            height: 22px;
        }
    }
}