$wrapper-color: #fff;
$wrapper-color--dark: #000;
$theme-color: #000;
$theme-color--dark: #fff;
$transition: all 0.25s linear;
$font-family: 'Roboto';

$breakpoint-xxl: 1365px;
$breakpoint-xl: 1023px;
$breakpoint-md: 767px;
$breakpoint-sm: 480px;
$breakpoint-ssm: 429px;