.card {
    height: 275px;
    width: calc (33.3% - 20px);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}


.card:nth-child(3n+2) {
    margin: 0 20px 20px 20px;
}


.card__name {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto;
}