.row {
    padding-top: 125px;
    display: flex;
    flex-flow: row wrap;
}


.card {
    height: 275px;
    width: calc (33.3% - 20px);
    position: relative;
}


.card:nth-child(3n+2) {
    margin: 0 20px 20px 20px;
}


.card__img {
    height: 275px;
    width: auto;
}


.card__title {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    color: #ffffff;
    font-weight: 700;
    font-style: 18px;
    font-style: normal;
}