@import "./commons/media-breakpoints.scss";
@import "./commons/variables.scss";

@include desktop {
    .wrapper {
        .container {
            padding: 0 42px 0 42px;
        }

        .content {

            .input__paintings {
                min-width: 220px;
                flex-grow: 1;
            }

            .select__title {
                width: 15vw;
                padding-right: 10px;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 3;
                white-space: nowrap;
            }

            .select__author {
                min-width: 220px;
                flex-grow: 1;
            }

            .select__location {
                min-width: 220px;
                flex-grow: 1;
            }

            .range {
                min-width: 220px;
                flex-grow: 1;
            }
        }

        .pagination {
            margin-top: 20px;
            margin-bottom: 62px;
        }
    }
}

@include laptop {
    .wrapper {
        .container {
            max-width: 940px;
            padding: 0 34px 0 34px;
        }

        .content {

            .input__paintings {
                min-width: 160px;
            }

            .select__title {
                width: 14.5vw;
            }

            .select__author {
                min-width: 160px;
            }

            .select__location {
                min-width: 160px;
            }

            .range {
                min-width: 160px;
            }
        }

        .pagination {
            margin-top: 15px;
            margin-bottom: 54px;
        }
    }
}

@include tablet {
    .wrapper {
        .container {
            max-width: 700px;
            padding: 0 20px 0 20px;
        }

        .content {
            flex-flow: column nowrap;
            padding: 25px 0 45px 0;

            .wrapper-card {
                flex-flow: column nowrap;
            }

            .input__paintings {
                margin: 0 0 15px 0;
                width: 100%;
            }

            .input__paintings::placeholder {
                font-size: 14px;
            }

            .select__author {
                margin: 0 0 15px 0;
                width: 100%;
            }

            .select__location {
                margin: 0 0 15px 0;
                width: 100%;

            }

            .range {
                width: 100%;
                font-size: 14px;
            }

            .select__title {
                font-size: 14px;
                width: 100%;
                padding-right: 15px;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 3;
                white-space: nowrap;
            }
        }

        .pagination {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 34px;
        }

        .PaginationPage {
            width: 100%;
        }

        .emptyArrayPaintings {
            font-size: 40px;
            top: 450px;
        }

        .loadingPaintings {
            margin: 0;
        }

        .paintingsError {
            font-size: 40px;
            margin-top: 50px;
        }
    }
}

@include mobile2 {
    .wrapper {
        .content {
            .select__title {
                width: 70vw;
            }
        }
    }
}