.wrapper {
    background-color: #fff;
}


.wrapper_dark {
    background-color: #000;
}


.Container {
    max-width: 1120px;
    margin: 0 auto;
}


.card__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.Content {
    display: flex;
    flex-flow: row nowrap;
    padding: 35px 0 45px 0;
}


.Input {
    font-weight: 500;
    margin-right: 20px;
}


.Input::placeholder {
    font-size: 13px;
    font-weight: 400;
    font-family: Roboto;
    opacity: 30%;
}

.Select {
    font-weight: 500;
    background: transparent;
}


option {
    font-size: 13px;
    font-weight: 400;
}


.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.Loading {
    margin: 100px 0 0 0;
    color: #000;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}


.Pagination {
    margin-top: 20px;
}