.wrapper {
    background-color: #fff;
    transition: all 0.25s linear;
}


.wrapper_dark {
    background-color: #000;
    transition: all 0.25s linear;
}


.Container {
    min-height: 100vh;
    max-width: 1120px;
    margin: 0 auto;
}


.card__wrapper {
    display: flex;
    flex-flow: row wrap;
}


.Content {
    display: flex;
    flex-flow: row nowrap;
    padding: 35px 0 45px 0;
}


.Input {
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.25s linear;
}


.Input::placeholder {
    font-size: 13px;
    font-weight: 400;
    font-family: Roboto;
    opacity: 30%;
}


.Select_author {
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.25s linear;
}


option {
    font-size: 13px;
    font-weight: 400;
}


.Select_location {
    margin-right: 20px;
    font-weight: 500;
    transition: all 0.25s linear;
}


.Range {
    font-size: 13px;
    font-weight: 400;
    transition: all 0.25s linear;
}


.Loading {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 150px 0 150px 0;
    color: #000;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
}


.Loading_dark {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 150px 0 150px 0;
    color: #fff;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
}


.Pagination {
    margin-top: 20px;
    transition: all 0.25s linear;
}


.Empty {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
}

.emptyArray {
    font-size: 50px;
    font-weight: 700;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
    color:#000;
}


.emptyArray_dark {
    font-size: 50px;
    font-weight: 700;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
    color: #fff;
}


.Error {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
}


.axiosError {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    font-size: 50px;
    font-weight: 700;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
    color:#000;
}


.axiosError_dark {
    font-size: 50px;
    font-weight: 700;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
    color: #fff;
}