.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}


.card__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.Input {
    margin: 35px 0 45px 0;
}


.Input::placeholder {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    font-family: Roboto;
    opacity: 30%;
}


.isLoading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.isLoadingTrue {
    margin: 100px 0 0 0;
    color: #000;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}


.Pagination {
    margin-top: 20px;
}